{% extends "base.html" %}
{% block content %}
    <main class="app-content">
      <div class="app-title">
        <div>
          <h1><i class="fa fa-dashboard"></i> 메인화면</h1>
          
        </div>
        <ul class="app-breadcrumb breadcrumb">
          <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
          <li class="breadcrumb-item"><a href="#">메인화면</a></li>
        </ul>
      </div>
    
      <div class="row">
        <div class="col-md-6">
          <div class="tile">
            <h3 class="tile-title">최다메일 대상</h3>
            <div class="embed-responsive embed-responsive-16by9">
              <canvas class="embed-responsive-item" id="barChart1"></canvas>
            </div>
          </div>  
        </div>
        <div class="col-md-6">
            <div class="tile">
              <h3 class="tile-title">최다 열람자</h3>
              <div class="embed-responsive embed-responsive-16by9">
                <canvas class="embed-responsive-item" id="barChart3"></canvas>
              </div>
            </div>  
          
        </div>
      </div>
	<div class="row">
		<div class="col-md-6">
			<div class="tile">
				<h3 class="tile-title">차수별 건수</h3>
					<div class="embed-responsive embed-responsive-16by9">
						<canvas class="embed-responsive-item" id="barChart2"></canvas>
					</div>
			</div>
		</div>

		<div class="col-md-6">
			<div class="tile">
				<h3 class="tile-title">차수별 열람율</h3>
					<div class="embed-responsive embed-responsive-16by9">
						<canvas class="embed-responsive-item" id="lineChartDemo"></canvas>
					</div>
			</div>
		</div>
	</div>
    </main>
    
{% endblock %}
{% block script %}
	<script type="text/javascript">
	var mc_chart = document.getElementById('barChart1');
	var mc_data = new Chart(mc_chart,{
		type: 'bar',
    data: {
        labels: [{% for chartdata in data%} "{{ chartdata.recipient__name}}",{% endfor %}],
        datasets: [{
            label: '# 총메일',
            data: [{% for chartdata in data%} "{{ chartdata.mail_count}}",{% endfor %}],
            backgroundColor: [
				'rgba(54, 162, 235, 0.2)',
				'rgba(54, 162, 235, 0.2)',
				'rgba(54, 162, 235, 0.2)',
				'rgba(54, 162, 235, 0.2)',
				'rgba(54, 162, 235, 0.2)',
				'rgba(54, 162, 235, 0.2)',
				'rgba(54, 162, 235, 0.2)',
				'rgba(54, 162, 235, 0.2)',
				'rgba(54, 162, 235, 0.2)',
				'rgba(54, 162, 235, 0.2)',   
            ],
            borderColor: [
				'rgba(54, 162, 235, 1)',
				'rgba(54, 162, 235, 1)',
				'rgba(54, 162, 235, 1)',
				'rgba(54, 162, 235, 1)',
				'rgba(54, 162, 235, 1)',
				'rgba(54, 162, 235, 1)',
				'rgba(54, 162, 235, 1)',
				'rgba(54, 162, 235, 1)',
				'rgba(54, 162, 235, 1)',
				'rgba(54, 162, 235, 1)',

                
            ],
            borderWidth: 1
		},
		{label: '# 메일열람',
            data: [{% for chartdata in data%} "{{ chartdata.o_count}}",{% endfor %}],
            backgroundColor: [
				'rgba(255, 99, 132, 0.2)',
				'rgba(255, 99, 132, 0.2)',
				'rgba(255, 99, 132, 0.2)',
				'rgba(255, 99, 132, 0.2)',
				'rgba(255, 99, 132, 0.2)',
				'rgba(255, 99, 132, 0.2)',
				'rgba(255, 99, 132, 0.2)',
				'rgba(255, 99, 132, 0.2)',
				'rgba(255, 99, 132, 0.2)',
				'rgba(255, 99, 132, 0.2)',   
            ],
            borderColor: [
				'rgba(255, 99, 132, 1)',
				'rgba(255, 99, 132, 1)',
				'rgba(255, 99, 132, 1)',
				'rgba(255, 99, 132, 1)',
				'rgba(255, 99, 132, 1)',
				'rgba(255, 99, 132, 1)',
				'rgba(255, 99, 132, 1)',
				'rgba(255, 99, 132, 1)',
				'rgba(255, 99, 132, 1)',
				'rgba(255, 99, 132, 1)',

                
            ],
            borderWidth: 1
		},
		{label: '# 신고',
            data: [{% for chartdata in data%} "{{ chartdata.p_count}}",{% endfor %}],
            backgroundColor: [
				'rgba(255, 205, 86, 0.2)',
				'rgba(255, 205, 86, 0.2)',
				'rgba(255, 205, 86, 0.2)',
				'rgba(255, 205, 86, 0.2)',
				'rgba(255, 205, 86, 0.2)',
				'rgba(255, 205, 86, 0.2)',
				'rgba(255, 205, 86, 0.2)',
				'rgba(255, 205, 86, 0.2)',
				'rgba(255, 205, 86, 0.2)',
				'rgba(255, 205, 86, 0.2)',   
            ],
            borderColor: [
				'rgba(255, 205, 86, 1)',
				'rgba(255, 205, 86, 1)',
				'rgba(255, 205, 86, 1)',
				'rgba(255, 205, 86, 1)',
				'rgba(255, 205, 86, 1)',
				'rgba(255, 205, 86, 1)',
				'rgba(255, 205, 86, 1)',
				'rgba(255, 205, 86, 1)',
				'rgba(255, 205, 86, 1)',
				'rgba(255, 205, 86, 1)',

                
            ],
            borderWidth: 1
		},
		]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                		}
            		}]
        		}
			}
	});

	var sc_chart = document.getElementById('barChart2');
	var sc_data = new Chart(sc_chart,{
		type: 'bar',
    data: {
        labels: [{% for chartdata in monthdata%} "{{ forloop.counter }}차 : {{ chartdata.d_month | date:"Y-m"}}",{% endfor %}],
        datasets: [{
            label: '# 총메일',
            data: [{% for chartdata in monthdata%} "{{ chartdata.c_month}}",{% endfor %}],
            backgroundColor: [
			{% for chartdata in monthdata%} 'rgba(54, 162, 235, 0.2)',{% endfor %}								
            ],
            borderColor: [
			{% for chartdata in monthdata%} 'rgba(54, 162, 235, 1)',{% endfor %}
				                
            ],
            borderWidth: 1
		},
		{
            label: '# 메일열람',
            data: [{% for chartdata in monthdata%} "{{ chartdata.c_month}}",{% endfor %}],
            backgroundColor: [
			{% for chartdata in monthdata%} 'rgba(255, 99, 132, 0.2)',{% endfor %}								
            ],
            borderColor: [
			{% for chartdata in monthdata%} 'rgba(255, 99, 132, 1)',{% endfor %}
				                
            ],
            borderWidth: 1
		},
		{
            label: '# 신고',
            data: [{% for chartdata in monthdata%} "{{ chartdata.c_month}}",{% endfor %}],
            backgroundColor: [
			{% for chartdata in monthdata%} 'rgba(255, 205, 86, 0.2)',{% endfor %}								
            ],
            borderColor: [
			{% for chartdata in monthdata%} 'rgba(255, 205, 86, 1)',{% endfor %}
				                
            ],
            borderWidth: 1
		},
		]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                		}
            		}]
        		}
			}
	});


	
    </script>
    
    
{% endblock %}
